.row 
	.col-lg-4
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						h5.card-title.mb-9.fw-semibold  Jumlah Mesin
						.row 
							.col-2 
								h2.fw-semibold.mb-3 #{total_devices}
							.col-10
								.d-flex.align-items-center.mb-3
									span.me-1.rounded-circle.bg-light-danger.round-20.d-flex.align-items-center.justify-content-center
										i.ti.ti-arrow-down-left.text-danger
									p.text-dark.me-1.fs-3.mb-0 -9%
									p.fs-3.mb-0 bulan lalu
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-device-heart-monitor.fs-6
	.col-lg-4
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						h5.card-title.mb-9.fw-semibold  Jumlah Pengguna
						.row 
							.col-2 
								h2.fw-semibold.mb-3 #{total_users}
							.col-10
								.d-flex.align-items-center.mb-3
									span.me-1.rounded-circle.bg-light-success.round-20.d-flex.align-items-center.justify-content-center
										i.ti.ti-arrow-up-left.text-success
									p.text-dark.me-1.fs-3.mb-0 +9%
									p.fs-3.mb-0 bulan lalu
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-users.fs-6
	.col-lg-4
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						h5.card-title.mb-9.fw-semibold  Jumlah Sekolah
						.row 
							.col-2 
								h3.fw-semibold.mb-3 #{total_schools}
							.col-10
								.d-flex.align-items-center.mb-3
									span.me-1.rounded-circle.bg-light-success.round-20.d-flex.align-items-center.justify-content-center
										i.ti.ti-arrow-up-left.text-success
									p.text-dark.me-1.fs-3.mb-0 +9%
									p.fs-3.mb-0 bulan lalu
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-school.fs-6
.row
	.col-lg-8.d-flex.align-items-strech
		.card.w-100
			.card-body
				.d-sm-flex.d-block.align-items-center.justify-content-between.mb-9
					.mb-3.mb-sm-0
						h5.card-title.fw-semibold Laporan Pendapatan Tahun #{year}
						br
					//- div
					//- 	select.form-select
					//- 		option(value="1") Oktober 2024
					//- 		option(value="2") November 2024
					//- 		option(value="3") Desember 2024
				#chart-sales
	.col-lg-4
		.row 
			.col-lg-6 
				.card.overflow-hidden 
					.card-body
						h6.card-title.mb-4.fw-semibold Tahunan
						hr
						.row.align-items-center
							.col-12
								br
								h6.fw-semibold.mb-9 #{formatRupiah(revenue_yearly)}
								.d-flex.align-items-center.mb-3
									span.me-1.rounded-circle.bg-light-success.round-20.d-flex.align-items-center.justify-content-center
										i.ti.ti-arrow-up-left.text-success
									p.text-dark.me-1.fs-2.mb-0 +9%
									p.fs-2.mb-0 tahun lalu
			.col-lg-6
				.card.overflow-hidden 
					.card-body
						h6.card-title.mb-4.fw-semibold Bulanan
						hr
						.row.align-items-center
							.col-12
								br
								h6.fw-semibold.mb-9 #{formatRupiah(revenue_monthly)}
								.d-flex.align-items-center.mb-3
									span.me-1.rounded-circle.bg-light-success.round-20.d-flex.align-items-center.justify-content-center
										i.ti.ti-arrow-up-left.text-success
									p.text-dark.me-1.fs-2.mb-0 +9%
									p.fs-2.mb-0 bulan lalu
		.row
			.col-lg-12 
				.card.w-100
					.card-body.p-4
						h5.card-title.fw-semibold.mb-4 Peringatan Pembayaran
						.table-responsive(style="max-height: 150px; overflo-y: auto;")
							table.table.text-nowrap.mb-0.align-middle
								//- thead.text-dark.fs-4
								//- 	tr
								//- 		th.border-bottom-0
								//- 			h6.fw-semibold.mb-0 Sekolah
								//- 		th.border-bottom-0
								//- 			h6.fw-semibold.mb-0 Status
								tbody
									each sch in schools_unpaid
										tr
											td.border-bottom-0
												h6.fw-semibold.mb-1 #{sch.npsn}
												span.fw-normal #{sch.name}
											td.border-bottom-0
												.d-flex.align-items-center.gap-2
													span.badge.bg-warning.rounded-3.fw-semibold Unpaid

script(src="../assets/libs/jquery/dist/jquery.min.js")
script.
	$(document).ready(function() {
		const host = window.location.origin;
		const token = localStorage.getItem('token');

		$.ajax({
			url: host + '/api/v1/payments/revenue/charts',
			type: 'GET',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': `Bearer ${token}`
			},
			success: function(response) {
				console.log(response);
				if (response.status == 200){
					var options = {
						chart: {
							type: 'line', // Specify the chart type
							height: 350,
						},
						series: [{
							name: 'Total Pendapatan',
							data: response.data
						}],
						xaxis: {
							categories: ['Jan', 'Feb', 'Mar', 'Apr', 'Mei', 'Jun', 'Jul', 'Ags', 'Sep', 'Okt', 'Nov', 'Des'] // X-axis labels
						},
						stroke: {
							curve: 'smooth'
						},
						markers: {
							size: 5,
						},
						tooltip: {
							shared: true,
							intersect: false,
						},
					};

					new ApexCharts(document.querySelector("#chart-sales"), options).render();
				}
			},
			error: function(xhr, status, error) {
				console.error('Error: ' + error);
			}
		});
	})
