.row 
	.col-lg-4
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						h5.card-title.mb-9.fw-semibold  Tinggi Badan
						h3.fw-semibold.mb-3 #{data.height} Cm
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-arrow-up.fs-6
	.col-lg-4
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						h5.card-title.mb-9.fw-semibold  Berat Badan
						h3.fw-semibold.mb-3 #{data.weight} Kg
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-weight.fs-6
	.col-lg-4
		.card
			.card-body
				.row.alig.n-items-start
					.col-8
						h5.card-title.mb-9.fw-semibold  Suhu Badan
						h3.fw-semibold.mb-3 #{data.temperature} Celcius
					.col-4
						.d-flex.justify-content-end
							.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
								i.ti.ti-temperature.fs-6
.row 
	.col-lg-4
		.row
			.col-lg-12
				// Monthly Earnings
				.card
					.card-body
						.row.alig.n-items-start
							.col-8
								h6.card-title.mb-9.fw-semibold  Kategori BMI 
								if (data.bmi_category == 'Kurang Berat Badan')
									h5.fw-semibold.mb-3.text-primary #{data.bmi_category}
								else if (data.bmi_category == 'Normal')
									h5.fw-semibold.mb-3.text-success #{data.bmi_category}
								else if (data.bmi_category == 'Kelebihan Berat Badan')
									h5.fw-semibold.mb-3.text-warning #{data.bmi_category}
								else if (data.bmi_category == 'Obesitas')
									h5.fw-semibold.mb-3.text-danger #{data.bmi_category}
								//- h5.fw-semibold.mb-3.text-warning Kelebihan Berat Badan
							.col-4
								.d-flex.justify-content-end
									.text-white.bg-warning.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
										i.ti.ti-weight.fs-6
						br
						.d-flex.align-items-center.mb-3
							span.me-1.rounded-circle.bg-light-success.round-20.d-flex.align-items-center.justify-content-center
								i.ti.ti-calendar.text-success
							p.fs-3.mb-0 #{prettyDate(data.updated_at)}
			//- .col-lg-12
			//- 	// Monthly Earnings
			//- 	.card
			//- 		.card-body
			//- 			.row.alig.n-items-start
			//- 				.col-8
			//- 					h6.card-title.mb-9.fw-semibold  Kolesterol
			//- 					h5.fw-semibold.mb-3 #{data.kolesterol} mg/dL
			//- 				.col-4
			//- 					.d-flex.justify-content-end
			//- 						.text-white.bg-primary.rounded-circle.p-6.d-flex.align-items-center.justify-content-center
			//- 							i.ti.ti-square-letter-k.fs-6
	.col-lg-8.d-flex.align-items-stretch
		.card.w-100
			.card-body.p-4
				h5.card-title.fw-semibold.mb-4 Laporan Mingguan
				.table-responsive
					table.table.text-nowrap.mb-0.align-middle
						thead.text-dark.fs-4
							tr
								th.border-bottom-0
									h6.fw-semibold.mb-0 No
								th.border-bottom-0
									h6.fw-semibold.mb-0 Nama
								th.border-bottom-0
									h6.fw-semibold.mb-0 Jumlah
								th.border-bottom-0
									h6.fw-semibold.mb-0 Status
								th.border-bottom-0
									h6.fw-semibold.mb-0 Tanggal
						tbody
							tr
								td.border-bottom-0
									h6.fw-semibold.mb-0 1
								td.border-bottom-0
									h6.fw-semibold.mb-1.fs-4 Tekanan Darah
								td.border-bottom-0
									p.mb-0.fw-semibold #{data.blood_pressure} mmHg
								td.border-bottom-0
									.d-flex.align-items-center.gap-2
										if(cat_bp === "rendah")
											span.badge.bg-warning.rounded-3.fw-semibold Rendah
										else if(cat_bp === "tinggi")
											span.badge.bg-danger.rounded-3.fw-semibold Tinggi
										else if(cat_bp === "normal")
											span.badge.bg-success.rounded-3.fw-semibold Normal
								td.border-bottom-0
									h6.fw-normal.mb-0 #{prettyDate(data.updated_at)}
							//- tr
							//- 	td.border-bottom-0
							//- 		h6.fw-semibold.mb-0 2
							//- 	td.border-bottom-0
							//- 		h6.fw-semibold.mb-1.fs-4 Gula Darah
							//- 	td.border-bottom-0
							//- 		p.mb-0.fw-semibold #{data.blood_sugar} mg/dL
							//- 	td.border-bottom-0
							//- 		.d-flex.align-items-center.gap-2
							//- 			span.badge.bg-success.rounded-3.fw-semibold Normal
							//- 	td.border-bottom-0
							//- 		h6.fw-normal.mb-0 #{prettyDate(data.updated_at)}
							//- tr
							//- 	td.border-bottom-0
							//- 		h6.fw-semibold.mb-0 3
							//- 	td.border-bottom-0
							//- 		h6.fw-semibold.mb-1.fs-4 Hemoglobin
							//- 	td.border-bottom-0
							//- 		p.mb-0.fw-semibold #{data.hemoglobin} g/dL
							//- 	td.border-bottom-0
							//- 		.d-flex.align-items-center.gap-2
							//- 			span.badge.bg-danger.rounded-3.fw-semibold Tinggi
							//- 	td.border-bottom-0
							//- 		h6.fw-normal.mb-0 #{prettyDate(data.updated_at)}
							
							tr
								td.border-bottom-0
									h6.fw-semibold.mb-0 3
								td.border-bottom-0
									h6.fw-semibold.mb-1.fs-4 Saturasi Oksigen
								td.border-bottom-0
									p.mb-0.fw-semibold #{data.oxygen_saturation} %
								td.border-bottom-0
									.d-flex.align-items-center.gap-2
										if(cat_os === "rendah")
											span.badge.bg-warning.rounded-3.fw-semibold Rendah
										else if(cat_os === "sangat_rendah")
											span.badge.bg-danger.rounded-3.fw-semibold Sangat Rendah
										else if(cat_os === "normal")
											span.badge.bg-success.rounded-3.fw-semibold Normal
								td.border-bottom-0
									h6.fw-normal.mb-0 #{prettyDate(data.updated_at)}

script(src="../assets/libs/jquery/dist/jquery.min.js")
script.
	$(document).ready(function() {
		var host = window.location.origin;
		const token = localStorage.getItem('token');

		$.ajax({
			url: host + '/api/v1/recommendations', // Example API
			method: 'GET',
			headers: {
				'Content-Type': 'application/json',
				'Authorization': `Bearer ${token}`
			},
			success: function(response) {
				console.log({response})
				if (response.status == 200){
					localStorage.setItem('planner', JSON.stringify(response.data.planner));
				}
			},
			error: function(xhr, status, error) {
				//- console.log({xhr, status, error})
				console.error('Error submitting data: ', error);
				$('#response-container').html('<p>Error submitting data. Please try again later.</p>');
			}
		});
	});
