doctype html
html(lang="zxx")
	head
		title Invoice
		link(rel="icon", href="/assets/images/icon-aero2.png", type="image/x-icon")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset="UTF-8")
		// External CSS libraries
		link(type="text/css", rel="stylesheet", href="/assets/invoice/assets/css/bootstrap.min.css")
		link(type="text/css", rel="stylesheet", href="/assets/invoice/assets/fonts/font-awesome/css/font-awesome.min.css")
		// Favicon icon
		//- link(rel="shortcut icon", href="/assets/invoice/assets/img/favicon.ico", type="image/x-icon")
		// Google fonts
		link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
		link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900")
		// Custom Stylesheet
		link(type="text/css", rel="stylesheet", href="/assets/invoice/assets/css/style.css")
	body
		// Invoice 2 start
		-function formatRupiah(amount) {
			-return new Intl.NumberFormat('id-ID', {style: 'currency', currency: 'IDR', minimumFractionDigits: 0, maximumFractionDigits: 0}).format(amount);
		-}

		-function prettyDate(dateString){
			//if it's already a date object and not a string you don't need this line:
			-var date = new Date(dateString);
			-var d = date.getDate();
			-var monthNames = [ "Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember" ];
			-var m = monthNames[date.getMonth()];
			-var dayNames = ["Minggu", "Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu"];
			-var currentDay = dayNames[date.getDay()];
			-var y = date.getFullYear();
			-return currentDay+', '+d+' '+m+' '+y;
		-}
		.invoice-2.invoice-content
			.container
				.row
					.col-lg-12
						.invoice-inner.clearfix
							.invoice-info.clearfix(id="invoice_wrapper")
								.invoice-headar
									.row
										.col-sm-6
											.container
												br
												img(src="../assets/images/logos/logo2.png", width="200", alt=)
										.col-sm-6
											.invoice-id
												.info
													//- h1.inv-header-1 Invoice
													//- if data.status == 'paid'
													span(style="color: #779500; font-weight: 700 !important; font-size: 30px;") PAID
													//- else if data.status == 'unpaid'
													//- 	span(style="color: #cc0000; font-weight: 700 !important; font-size: 30px;") UNPAID
													p.mb-1 Invoice Number: 
														span(style="color: #256174; font-weight: 700 !important; ") ##{data.invoice}
													p.mb-0 Invoice Date: 
														span #{prettyDate(data.created_at)}
								.invoice-top
									.row
										.col-sm-6
											.invoice-number.mb-30
												h4.inv-title-1 Invoice To
												h2.name #{data.school_id.name}
												p.invo-addr-1
													| -
													br
													| #{data.school_id.address}
													br
										.col-sm-6
											.invoice-number.mb-30
												//- .invoice-number-inner
												h4.inv-title-1 Invoice From
												h2.name PT. Helber Elektronika Indonesia
												p.invo-addr-1
													| office@helber.co.id
													br
													| Jl. Wirajaya no 316B Condongcatur, Depok, Sleman, DI Yogyakarta, Indonesia 55283
													br
								.invoice-center
									.table-responsive
										table.table.mb-0.table-striped.invoice-table
											thead.bg-active
												tr.tr
													th No.
													th.pl0.text-start Item Description
													th.text-center Quantity
													th.text-end Amount
											tbody
												//- -var no = 1;
												//- each item in data.items
												tr.tr
													td
														.item-desc-1
															span 1
													td.pl0 #{data.notes}
													td.text-center 1
													td.text-end #{formatRupiah(data.total_price)}
												
												//- tr.tr2
												//- 	td
												//- 	td
												//- 	td.text-center SubTotal
												//- 	td.text-end #{formatRupiah(data.sub_total)}
												//- tr.tr2
												//- 	td
												//- 	td
												//- 	td.text-center PPN (11%)
												//- 	td.text-end #{formatRupiah(data.tax)}
												//- tr.tr2
												//- 	td
												//- 	td
												//- 	td.text-center Markup Area (1%)
												//- 	td.text-end #{formatRupiah(data.markup_area)}
												tr.tr2
													td
													td
													td.text-center.f-w-600.active-color Grand Total
													td.f-w-600.text-end.active-color #{formatRupiah(data.total_price)}
								.invoice-bottom
									.row
										//- .col-lg-6.col-md-5.col-sm-5
										//- 	.payment-method.mb-30
										//- 		h3.inv-title-1 Payment Method
										//- 		ul.payment-method-list-1.text-14
										//- 			li
										//- 				strong Account No:
										//- 				| 00 123 647 840
										//- 			li
										//- 				strong Account Name:
										//- 				| Jhon Doe
										//- 			li
										//- 				strong Branch Name:
										//- 				| xyz
										.col-lg-12.col-md-7.col-sm-7
											.terms-conditions.mb-30
												h3.inv-title-1 Terms &amp; Conditions
												p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy has
								.invoice-contact.clearfix
									.row.g-0
										.col-sm-12
											.contact-info.clearfix
												//- a.d-flex(href="tel:+55-4XX-634-7071")
												//- 	i.fa.fa-phone
												//- 	| +6285 123 456 789
												a.d-flex(href="tel:office@helber.co.id")
													i.fa.fa-envelope
													| office@helber.co.id
												a.mr-0.d-flex.d-none-580(href="tel:contact@lumbungmuncul.com")
													i.fa.fa-map-marker
													| Jl. Wirajaya no 316B Condongcatur, Depok, Sleman, DI Yogyakarta, Indonesia 55283
							.invoice-btn-section.clearfix.d-print-none
								a.btn.btn-lg.btn-print(href="javascript:window.print()")
									i.fa.fa-print
									| 
									| Print Invoice
								a.btn.btn-lg.btn-download.btn-theme(id="invoice_download_btn")
									i.fa.fa-download
									| 
									| Download Invoice
		// Invoice 2 end
		script(src="/assets/invoice/assets/js/jquery.min.js")
		script(src="/assets/invoice/assets/js/jspdf.min.js")
		script(src="/assets/invoice/assets/js/html2canvas.js")
		script(src="/assets/invoice/assets/js/app.js")