extends ../layouts/base

block content
	.container
		br
		.card
			//- .card-header
			.card-body
				h5.card-title.fw-semibold.mb-4 Rekomendasi
				p.mb-0 Berikut rekomendasi rencana olahraga yang cocok untuk anda
				br
				//- p#test(myFunction('"+data+"'))

				//- each data in datas
				//- 	h6 hari : #{data.hari}
				//- 	table.table.table-bordered
				//- 		thead.thead-light
				//- 			tr
				//- 				th Latihan
				//- 				th Set
				//- 				th Repetisi
				//- 				th Keterangan

				//- 		tbody
				//- 			each aktivitas in data.aktivitas
				//- 				tr
				//- 					td #{aktivitas.latihan}
				//- 					td #{aktivitas.set}
				//- 					td #{aktivitas.repetisi}
				//- 					td #{aktivitas.keterangan}
				//- 	br
				//- 	br
				.tabs
					button.tab(data-day="1") Senin
					button.tab(data-day="2") Selasa
					button.tab(data-day="3") Rabu
					button.tab(data-day="4") Kamis
					button.tab(data-day="5") Jumat
					button.tab(data-day="6") Sabtu
					button.tab(data-day="0") Minggu
				br
				#content.container
					p Select a day to view scheduled workouts.
	
	script.
		document.addEventListener('DOMContentLoaded', function() {
			const tabs = document.querySelectorAll('.tab');
			const today = new Date();
			const currentDay = today.getDay(); // Get the current day (0-6)
			const planner = localStorage.getItem('planner');

			const dataPlanner = JSON.parse(planner)

			function loadContent(dayIndex) {
				if (dayIndex == 0){
					//- console.log({day_plan: dataPlanner[7]})
					var html = '<table class="table table-bordered"><thead class="thead-light"><tr><th>Latihan</th><th>Set</th><th>Repetisi</th><th>Keterangan</th></tr></thead><tbody>';
					dataPlanner[6].practices.forEach(function(item) {
						html += '<tr><td>' + item.name + '</td><td>' + item.set + '</td><td>' + item.repetitions + '</td><td>' + item.information + '</td></tr>';
					});
					html += '</tbody></table>';

					$('#content').html(html);
				} else {
					//- console.log({day_plan: dataPlanner[dayIndex-1]})
					var html = '<table class="table table-bordered"><thead class="thead-light"><tr><th>Latihan</th><th>Set</th><th>Repetisi</th><th>Keterangan</th></tr></thead><tbody>';
					dataPlanner[dayIndex-1].practices.forEach(function(item) {
						html += '<tr><td>' + item.name + '</td><td>' + item.set + '</td><td>' + item.repetitions + '</td><td>' + item.information + '</td></tr>';
					});
					html += '</tbody></table>';

					$('#content').html(html);
				}
			}
			// Set the active tab based on the current day
			tabs.forEach(tab => {
				const dayIndex = parseInt(tab.getAttribute('data-day'), 10);

				if (dayIndex === currentDay) {
					tab.classList.add('active');
					loadContent(currentDay)
				}

				tab.addEventListener('click', function() {
					tabs.forEach(t => t.classList.remove('active'));
					this.classList.add('active');
					loadContent(dayIndex)
				});
			});
		});