extends ../layouts/base

block content
	.container
		br
		//- br
		.card
			.card-body
				h5.card-title.fw-semibold.mb-4 Daftar #{level}
				p.mb-0 Berikut daftar pegawai sebagai level #{level}
				br
				.filter-container
					label(for="categoryFilter") Filter Kategori:
					br
					select#categoryFilter.form-control
						option(value='' selected) Semua
						option(value="Kurang Berat Badan") Kurang Berat Badan
						option(value="Normal") Normal
						option(value="Kelebihan Berat Badan") Kelebihan Berat Badan
						option(value="Obesitas") Obesitas
				// Tabel Data
				.table-responsive
					//- table#dataTable.table.table-bordered
					//- table#myTable.display.table.table-bordered.table-hover
					table#basic-datatables.display.table.table-bordered.table-hover
						thead.thead-light
							tr
								th No
								th Id Pegawai
								//- th Id Sistem
								th Nama
								th Posisi Pekerjaan
								//- th Level
								//- th Kelas & Jurusan
								th Jenis Kelamin
								th Tinggi Badan
								th Berat Badan
								th Tekanan Darah
								th Saturasi Oksigen
								th Suhu Badan
								//- th BMI Skor
								th BMI Kategori
								th Usia
								//- th Aksi

						tbody
							-var no = 1;
							each data in datas
								tr
									td #{no++}
									td
										a(href='/users/history?_id='+data._id)
											b(style='text-decoration: underline;') #{data.nisn}
									//- td 
									//- 	b #{data._id}
									td #{data.name}
									td #{data.position}
									//- td #{data.level}
									//- td #{data.majority}
									td
										if (data.gender == 'male')
											| Laki-laki
										else 
											| Perempuan
									td #{data.height} Cm
									td #{data.weight} Kg
									td #{data.blood_pressure} mmHg
									td #{data.oxygen_saturation} %
									td #{data.temperature} C
									//- td #{data.bmi_score}
									td 
										if (data.bmi_category == 'Kurang Berat Badan')
											.text-primary #{data.bmi_category}
										else if (data.bmi_category == 'Normal')
											.text-success #{data.bmi_category}
										else if (data.bmi_category == 'Kelebihan Berat Badan')
											.text-warning #{data.bmi_category}
										else if (data.bmi_category == 'Obesitas')
											.text-danger #{data.bmi_category}
									td #{data.old}
									
									//- td
									//- 	button.btn.btn-outline-primary.dropdown-toggle(data-toggle="dropdown", href="#", aria-expanded="false")
									//- 		| Pindah Kelas
									//- 	ul.dropdown-menu
									//- 		each maj in majorities
									//- 			li
									//- 				a.dropdown-item(href='/users/majority/update/'+maj._id+'/'+data._id) #{maj.class} - #{maj.name}
											//- .dropdown-divider
											//- li
											//- 	a.dropdown-item(href='/web/v1/projects/detail?_id=87654321') Edit
												
											//- li 
											//- 	a.dropdown-item(href="/web/v1/projects/task?_id=87654321") Delete
					.custom-footer
					//- nav
					//- 	ul#pagination.pagination

	script(src="https://code.jquery.com/jquery-3.6.0.min.js")
	//- script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js")
	//- script(src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js")

	script.
		$(document).ready(function() {
			var table = $('#basic-datatables').DataTable({
				"paging": true,
				"searching": true,
				"info": false,
				"ordering": true,
				"lengthMenu": [10, 25, 50, 100],
				"deferRender": true,
				"scroller": true,
			});
			$('#categoryFilter').on('change', function () {
				var selectedCategory = $(this).val();
				console.log({selectedCategory})
				table.column(11).search(selectedCategory).draw(); // Filter berdasarkan kolom kategori (index ke-2)
			});
			$('.dataTables_length').html(`
				<label>Show
					<select id="customEntries" class="custom-entries">
						<option value="10" selected>10</option>
						<option value="25">25</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select> entries
				</label>
			`);

			// Event listener untuk dropdown custom
			$('#customEntries').on('change', function() {
				var value = $(this).val();
				table.page.len(value).draw();
			});
			//- $('.dataTables_length').clone().appendTo('.custom-footer').show();
			
		});
	script.
		let currentPage = 1;
		const rowsPerPage = 20;

		function displayTable(page) {
			const rows = $('#dataTable tbody tr');
			const totalRows = rows.length;
			const totalPages = Math.ceil(totalRows / rowsPerPage);
			const start = (page - 1) * rowsPerPage;
			const end = start + rowsPerPage;

			rows.hide().slice(start, end).show();
			updatePagination(totalPages);
		}

		function updatePagination(totalPages) {
			const pagination = $('#pagination');
			pagination.empty();

			const prevButton = $('<li class="page-item"><a class="page-link" href="#">Previous</a></li>');
			if (currentPage === 1) prevButton.addClass('disabled');
			prevButton.click(function () {
				if (currentPage > 1) {
					currentPage--;
					displayTable(currentPage);
				}
			});
			pagination.append(prevButton);

			for (let i = 1; i <= totalPages; i++) {
				const pageButton = $('<li class="page-item"><a class="page-link" href="#">' + i + '</a></li>');
				if (currentPage === i) pageButton.addClass('active');
				pageButton.click(function () {
					currentPage = i;
					displayTable(currentPage);
				});
				pagination.append(pageButton);
			}

			const nextButton = $('<li class="page-item"><a class="page-link" href="#">Next</a></li>');
			if (currentPage === totalPages) nextButton.addClass('disabled');
			nextButton.click(function () {
				if (currentPage < totalPages) {
					currentPage++;
					displayTable(currentPage);
				}
			});
			pagination.append(nextButton);
		}

		function filterTable() {
			const filter = $('#search').val().toLowerCase();
			const filteredRows = $('#dataTable tbody tr').filter(function () {
				return $(this).text().toLowerCase().includes(filter);
			});

			$('#dataTable tbody').empty().append(filteredRows);

			currentPage = 1; // Reset to first page
			displayTable(currentPage);
		}

		$(document).ready(function () {
			displayTable(currentPage);
		});
